<template name="aboutModal">
    <div class="ui basic modal centered grid samrai-modal">
        <div class="image content">

            <div class="description">
                <img style="width: 100px;" src="/images/samrai.png" alt="">
                <br>
                <h3><i class="code icon"></i>Made with <i class="heart red icon"></i> by Samrai Dev / Luis Mexin</h3>
                <a class="ui green basic inverted button" href="http://www.samrai.mx" target="_blank">www.luismexin.me</a>
            </div>
        </div>
        <div class="actions centered grid">
            <div class=" ui inverted buttons">
                <div id="btnOk" class="ui green basic inverted button approve">
                    <i class="checkmark icon"></i>
                    Ok
                </div>
            </div>
        </div>
    </div>
</template>