<template name="notFound">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container">
            <img src="images/quierorecslogoblack.png" alt="">
            <h1 class="ui header">
                404
            </h1>
            <h3>W00t!! Looks like there's nothing here.</h3>
            <a href="/" class="ui huge primary button">
                Tank, I need an exit!
                <i class="right arrow icon"></i>
            </a>
        </div>

    </div>
</template>