<template name="registerSuccess">
    {{> menu}}
    <div class="ui stackable centered padded page grid">
        <div class="ui eight wide column">
            <div class="ui center aligned segment">
                <div class="ui small image">
                    <img src="http://www.quiero-recordings.com/images/quierorecslogoblack.png">
                </div>

                <div class="ui raised segment">
                    <h1>Thank you for registering</h1>
                    <h4>You will received an email with an activation link, please check your spam if you haven't
                        received the email.</h4>
                </div>
            </div>
        </div>
    </div>
</template>